## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [11]:
import random

# Your code here
sample_list_1=random.sample(range(100), k=80)
print(sample_list_1)

[63, 0, 17, 7, 49, 70, 93, 76, 88, 55, 20, 85, 94, 3, 28, 53, 34, 21, 92, 64, 47, 91, 32, 75, 11, 65, 71, 13, 6, 38, 46, 57, 74, 10, 87, 54, 27, 9, 72, 67, 60, 45, 4, 23, 12, 61, 37, 73, 51, 26, 84, 40, 5, 43, 36, 80, 15, 29, 59, 68, 77, 39, 35, 96, 69, 62, 98, 79, 58, 41, 81, 44, 82, 52, 78, 90, 48, 83, 8, 99]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [12]:
# Your code here
set1=set(sample_list_1)
print(len(set1))

#yes

80

yes set1's length is 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [17]:
# Your code here
sample_list_2=[]

for index in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)
print(len(sample_list_2))

[68, 29, 23, 75, 75, 65, 14, 100, 75, 70, 67, 5, 70, 24, 19, 7, 4, 13, 74, 31, 25, 98, 33, 49, 63, 70, 4, 67, 82, 63, 78, 84, 7, 90, 95, 99, 51, 8, 73, 3, 9, 86, 24, 62, 0, 54, 43, 9, 68, 15, 17, 20, 64, 11, 54, 92, 62, 23, 82, 83, 58, 89, 23, 56, 79, 3, 91, 51, 33, 99, 20, 72, 40, 26, 73, 6, 66, 25, 12, 9]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [18]:
# Your code here
set2=set(sample_list_2)
print(set2)
print(len(set2))

{0, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 17, 19, 20, 23, 24, 25, 26, 29, 31, 33, 40, 43, 49, 51, 54, 56, 58, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 78, 79, 82, 83, 84, 86, 89, 90, 91, 92, 95, 98, 99, 100}
56

No, the length is 56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [19]:
# Your code here
set3=set1 - set2
print(set3)

{10, 21, 27, 28, 32, 34, 35, 36, 37, 38, 39, 41, 44, 45, 46, 47, 48, 52, 53, 55, 57, 59, 60, 61, 69, 71, 76, 77, 80, 81, 85, 87, 88, 93, 94, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [20]:
# Your code here
set4=set2 - set1
print(set4)

{89, 33, 66, 100, 14, 19, 86, 24, 25, 56, 95, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [25]:
# Your code here
set5=(set1 - set3) | (set2 - set4)
print(set5)

{0, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 17, 20, 23, 26, 29, 40, 43, 49, 51, 54, 58, 62, 63, 64, 65, 67, 68, 70, 72, 73, 74, 75, 78, 79, 82, 83, 84, 90, 91, 92, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [28]:
# Your code here
formule=len(set1) + len(set2)== len(set3) + len(set4) + 2*len(set5)
print(formule)

True

#### Create an empty set called `set6`.

In [34]:
# Your code here
set6= set()
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [35]:
# Your code here
set6.update(set3)
set6.update(set5)

print(set6)

{0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 17, 20, 21, 23, 26, 27, 28, 29, 32, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 90, 91, 92, 93, 94, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [36]:
# Your code here
equal=set1==set6
print(equal)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [37]:
# Your code here
s1_contains_s2 = set2.issubset(set1)
print(s1_contains_s2)

False

In [38]:
s1_contains_s3 = set3.issubset(set1)
print(s1_contains_s3)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [41]:
# Your code here
aggregate_s3_s4_s5 = set3.union(set4).union(set5)
print(aggregate_s3_s4_s5)

{0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100}

In [42]:
aggregated_s1_s2 = set1.union(set2)
print(aggregated_s1_s2)

{0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100}

In [43]:
aggre_equal = aggregate_s3_s4_s5 == aggregated_s1_s2
print(aggre_equal)

True

#### Using the `pop` method, remove the first element from `set1`.

In [46]:
# Your code here
print(set1)
set1.pop()
print(set1)

{0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 17, 20, 21, 23, 26, 27, 28, 29, 32, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 90, 91, 92, 93, 94, 96, 98, 99}
{3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 17, 20, 21, 23, 26, 27, 28, 29, 32, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 90, 91, 92, 93, 94, 96, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [60]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for item in list_to_remove:
    if item in set1:
        set1.remove(item)

print(set1)

{3, 4, 5, 6, 7, 8, 10, 12, 13, 15, 17, 20, 23, 26, 27, 28, 32, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 52, 53, 54, 55, 57, 58, 60, 62, 63, 64, 65, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 87, 88, 90, 92, 93, 94, 96, 98}